HolidayReservationSystem/xml-resources/web-service-references/RoomTypeWebService/wsdl/localhost_8080/RoomTypeWebService/RoomTypeWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="NoRoomTypeAvailableException" type="tns:NoRoomTypeAvailableException"/>

<xs:element name="RoomTypeNotFoundException" type="tns:RoomTypeNotFoundException"/>

<xs:element name="persist" type="tns:persist"/>

<xs:element name="persistResponse" type="tns:persistResponse"/>

<xs:element name="retrieveAllAvailableRoomTypesBasedOnSize" type="tns:retrieveAllAvailableRoomTypesBasedOnSize"/>

<xs:element name="retrieveAllAvailableRoomTypesBasedOnSizeResponse" type="tns:retrieveAllAvailableRoomTypesBasedOnSizeResponse"/>

<xs:element name="retrieveRoomTypeByReservation" type="tns:retrieveRoomTypeByReservation"/>

<xs:element name="retrieveRoomTypeByReservationResponse" type="tns:retrieveRoomTypeByReservationResponse"/>

<xs:complexType name="retrieveAllAvailableRoomTypesBasedOnSize">
<xs:sequence>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="numberOfRooms" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllAvailableRoomTypesBasedOnSizeResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomType">
<xs:sequence>
<xs:element name="amenities" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="assignable" type="xs:boolean"/>
<xs:element name="bed" type="xs:int"/>
<xs:element name="capacity" type="xs:int"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="nextHighestRoomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="roomTypeId" type="xs:long" minOccurs="0"/>
<xs:element name="size" type="xs:double"/>
<xs:element name="typeName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoRoomTypeAvailableException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveRoomTypeByReservation">
<xs:sequence>
<xs:element name="reservation" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="bookingDateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkIn" type="xs:boolean"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="guest" type="tns:guest" minOccurs="0"/>
<xs:element name="numberOfRooms" type="xs:int"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
<xs:element name="reservationType" type="tns:reservationTypeEnum" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="rooms" type="tns:room" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="status" type="tns:reservationStatusEnum" minOccurs="0"/>
<xs:element name="totalReservationFee" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guest">
<xs:sequence>
<xs:element name="guestId" type="xs:long" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="room">
<xs:sequence>
<xs:element name="assignable" type="xs:boolean"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomId" type="xs:long" minOccurs="0"/>
<xs:element name="roomNumber" type="xs:string" minOccurs="0"/>
<xs:element name="roomStatus" type="tns:roomStatusEnum" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveRoomTypeByReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RoomTypeNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persist">
<xs:sequence>
<xs:element name="arg0" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persistResponse">
<xs:sequence/>
</xs:complexType>

<xs:simpleType name="reservationTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="WALK_IN"/>
<xs:enumeration value="ONLINE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="roomStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="AVAILABLE"/>
<xs:enumeration value="NOT_AVAILABLE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="reservationStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="UPGRADED"/>
<xs:enumeration value="ALLOCATED"/>
<xs:enumeration value="REJECTED"/>
<xs:enumeration value="PENDING"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>