HolidayReservationSystem/xml-resources/web-service-references/ReservationWebService/wsdl/localhost_8080/ReservationWebService/ReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="ReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/ReservationWebService/ReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="persist">
<part name="parameters" element="tns:persist"/>
</message>
<message name="persistResponse">
<part name="parameters" element="tns:persistResponse"/>
</message>
<message name="retrieveReservationsByPartner">
<part name="parameters" element="tns:retrieveReservationsByPartner"/>
</message>
<message name="retrieveReservationsByPartnerResponse">
<part name="parameters" element="tns:retrieveReservationsByPartnerResponse"/>
</message>
<message name="ReservationNotFoundException">
<part name="fault" element="tns:ReservationNotFoundException"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="addPartnerToReservation">
<part name="parameters" element="tns:addPartnerToReservation"/>
</message>
<message name="addPartnerToReservationResponse">
<part name="parameters" element="tns:addPartnerToReservationResponse"/>
</message>
<message name="createNewReservation">
<part name="parameters" element="tns:createNewReservation"/>
</message>
<message name="createNewReservationResponse">
<part name="parameters" element="tns:createNewReservationResponse"/>
</message>
<message name="CreateNewReservationException">
<part name="fault" element="tns:CreateNewReservationException"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="allocateRoomToReservation">
<part name="parameters" element="tns:allocateRoomToReservation"/>
</message>
<message name="allocateRoomToReservationResponse">
<part name="parameters" element="tns:allocateRoomToReservationResponse"/>
</message>
<message name="retrieveRoomsAllocatedInString">
<part name="parameters" element="tns:retrieveRoomsAllocatedInString"/>
</message>
<message name="retrieveRoomsAllocatedInStringResponse">
<part name="parameters" element="tns:retrieveRoomsAllocatedInStringResponse"/>
</message>
<message name="retrieveReservationByReservationId">
<part name="parameters" element="tns:retrieveReservationByReservationId"/>
</message>
<message name="retrieveReservationByReservationIdResponse">
<part name="parameters" element="tns:retrieveReservationByReservationIdResponse"/>
</message>
<portType name="ReservationWebService">
<operation name="persist">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/persistRequest" message="tns:persist"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/persistResponse" message="tns:persistResponse"/>
</operation>
<operation name="retrieveReservationsByPartner">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveReservationsByPartnerRequest" message="tns:retrieveReservationsByPartner"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveReservationsByPartnerResponse" message="tns:retrieveReservationsByPartnerResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveReservationsByPartner/Fault/ReservationNotFoundException"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveReservationsByPartner/Fault/PartnerNotFoundException"/>
</operation>
<operation name="addPartnerToReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/addPartnerToReservationRequest" message="tns:addPartnerToReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/addPartnerToReservationResponse" message="tns:addPartnerToReservationResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/addPartnerToReservation/Fault/PartnerNotFoundException"/>
</operation>
<operation name="createNewReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservationRequest" message="tns:createNewReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservationResponse" message="tns:createNewReservationResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservation/Fault/ReservationNotFoundException"/>
<fault message="tns:CreateNewReservationException" name="CreateNewReservationException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservation/Fault/CreateNewReservationException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservation/Fault/InputDataValidationException"/>
</operation>
<operation name="allocateRoomToReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/allocateRoomToReservationRequest" message="tns:allocateRoomToReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/allocateRoomToReservationResponse" message="tns:allocateRoomToReservationResponse"/>
</operation>
<operation name="retrieveRoomsAllocatedInString">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveRoomsAllocatedInStringRequest" message="tns:retrieveRoomsAllocatedInString"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveRoomsAllocatedInStringResponse" message="tns:retrieveRoomsAllocatedInStringResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveRoomsAllocatedInString/Fault/ReservationNotFoundException"/>
</operation>
<operation name="retrieveReservationByReservationId">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveReservationByReservationIdRequest" message="tns:retrieveReservationByReservationId"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveReservationByReservationIdResponse" message="tns:retrieveReservationByReservationIdResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveReservationByReservationId/Fault/ReservationNotFoundException"/>
</operation>
</portType>
<binding name="ReservationWebServicePortBinding" type="tns:ReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="persist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveReservationsByPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="addPartnerToReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createNewReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
<fault name="CreateNewReservationException">
<soap:fault name="CreateNewReservationException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="allocateRoomToReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveRoomsAllocatedInString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveReservationByReservationId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ReservationWebService">
<port name="ReservationWebServicePort" binding="tns:ReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/ReservationWebService/ReservationWebService"/>
</port>
</service>
</definitions>