HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/RoomTypeWebService/RoomTypeWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="RoomTypeWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/RoomTypeWebService/RoomTypeWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="persist">
<part name="parameters" element="tns:persist"/>
</message>
<message name="persistResponse">
<part name="parameters" element="tns:persistResponse"/>
</message>
<message name="retrieveRoomTypeByReservation">
<part name="parameters" element="tns:retrieveRoomTypeByReservation"/>
</message>
<message name="retrieveRoomTypeByReservationResponse">
<part name="parameters" element="tns:retrieveRoomTypeByReservationResponse"/>
</message>
<message name="RoomTypeNotFoundException">
<part name="fault" element="tns:RoomTypeNotFoundException"/>
</message>
<message name="retrieveAllAvailableRoomTypesBasedOnSize">
<part name="parameters" element="tns:retrieveAllAvailableRoomTypesBasedOnSize"/>
</message>
<message name="retrieveAllAvailableRoomTypesBasedOnSizeResponse">
<part name="parameters" element="tns:retrieveAllAvailableRoomTypesBasedOnSizeResponse"/>
</message>
<message name="NoRoomTypeAvailableException">
<part name="fault" element="tns:NoRoomTypeAvailableException"/>
</message>
<portType name="RoomTypeWebService">
<operation name="persist">
<input wsam:Action="http://ws.session.ejb/RoomTypeWebService/persistRequest" message="tns:persist"/>
<output wsam:Action="http://ws.session.ejb/RoomTypeWebService/persistResponse" message="tns:persistResponse"/>
</operation>
<operation name="retrieveRoomTypeByReservation">
<input wsam:Action="http://ws.session.ejb/RoomTypeWebService/retrieveRoomTypeByReservationRequest" message="tns:retrieveRoomTypeByReservation"/>
<output wsam:Action="http://ws.session.ejb/RoomTypeWebService/retrieveRoomTypeByReservationResponse" message="tns:retrieveRoomTypeByReservationResponse"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/RoomTypeWebService/retrieveRoomTypeByReservation/Fault/RoomTypeNotFoundException"/>
</operation>
<operation name="retrieveAllAvailableRoomTypesBasedOnSize">
<input wsam:Action="http://ws.session.ejb/RoomTypeWebService/retrieveAllAvailableRoomTypesBasedOnSizeRequest" message="tns:retrieveAllAvailableRoomTypesBasedOnSize"/>
<output wsam:Action="http://ws.session.ejb/RoomTypeWebService/retrieveAllAvailableRoomTypesBasedOnSizeResponse" message="tns:retrieveAllAvailableRoomTypesBasedOnSizeResponse"/>
<fault message="tns:NoRoomTypeAvailableException" name="NoRoomTypeAvailableException" wsam:Action="http://ws.session.ejb/RoomTypeWebService/retrieveAllAvailableRoomTypesBasedOnSize/Fault/NoRoomTypeAvailableException"/>
</operation>
</portType>
<binding name="RoomTypeWebServicePortBinding" type="tns:RoomTypeWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="persist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveRoomTypeByReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllAvailableRoomTypesBasedOnSize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoRoomTypeAvailableException">
<soap:fault name="NoRoomTypeAvailableException" use="literal"/>
</fault>
</operation>
</binding>
<service name="RoomTypeWebService">
<port name="RoomTypeWebServicePort" binding="tns:RoomTypeWebServicePortBinding">
<soap:address location="http://localhost:8080/RoomTypeWebService/RoomTypeWebService"/>
</port>
</service>
</definitions>